.square {
  display: flex;
  width: 100px;
  height: 100px;
  border: solid 2px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.mg--sm {
  margin: 5px;
}
